/* Add a class to style the pressed effect */
.toggle-button:active, .number-button:active {
    transform: translateY(2px);
}

/* Style the number buttons */
.number-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: transform 0.1s;
}

.number-button:hover {
    background-color: #ddd; /* Change background color on hover */
    color: #333; /* Change text color on hover */
}
